#loginTitle {
    background: cornflowerblue;
    border: black;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#loginLabel {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#loginButton {
    background-color: cornflowerblue;
    font-weight: bold;
    width: 200px;
    border: black;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#loginButton:hover{
    background-color: gray;
}