html {
    background: cornflowerblue;
}

button {
    vertical-align: middle;
    margin-top: 12px;
    margin-left: 20px;
    background-color: whitesmoke;
    font-weight: bold;
    width: 200px;
    border: black;
    border-style: solid;
    text-align: center;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    background-color: gray;
}

#divButtons{
    background-color: black;
    height: 50px;
}

#sadrzaj{
    margin-top: 20px;
    margin-left: 20px;
}

th{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#dataTable,#dataTable th,#dataTable td {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: whitesmoke;
}

#dataTable th{
    background-color: darkcyan;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#dataTable td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}